@media (min-width: 768px) {
	.hero-img {
		background-image: url('../images/image-hero-desktop.jpg');
		min-height: 42vh;
	}
	.nav {
		.nav-menu {
			position: static;
			flex-direction: row;
			width: auto;
			background-color: transparent;
			gap: 2rem;
			margin: 0;
			transform: translateX(0);

			a {
				padding: 0;
				font-size: clamp(0.8rem, 1.5vw, 1rem);
				color: var(--clr-white);
				font-weight: 400;
			}
			.line {
				display: none;
			}
		}
	}
	.second-container {
		.project-card,
		.stats-card,
		.project-info {
			max-width: 730px;

			.project-card-heading {
				padding-top: 3.5rem;
				font-size: clamp(1.2rem, 2.25vw, 1.75rem);
			}
			.project-card-description {
				font-size: clamp(0.85rem, 2.25vw, 0.95rem);
			}
			.buttons {
				width: 87%;

				.back-btn {
					padding: 10px 43px;
				}

				.bookmark-btn {
					background-color: var(--clr-gray-100);
					border-radius: 30px;

					.bookmark-extended {
						width: 100px;
						height: 100%;
						font-weight: 700;
						color: var(--clr-gray);
					}
				}
			}
		}
		.stats-card {
			.stats-container {
				width: 85%;
				gap: 6.25rem;

				.stats-description {
					font-size: clamp(0.85rem, 3vw, 0.9rem);
				}
				.first-gap::after,
				.second-gap::after {
					bottom: 1.5rem;
					left: 140%;
					height: 50px;
					width: 1px;
				}
				.second-gap::after {
					left: 205%;
				}
			}
			.stats-box:last-of-type {
				margin-left: 2rem;
			}
		}
		.project-info {
			padding: 3.15rem 3rem;

			.project-info-heading {
				margin-bottom: 2.5rem;
				font-size: clamp(1.15rem, 2vw, 1.25rem);
			}
			.project-info-description,
			.reward-description {
				font-size: clamp(0.88rem, 2vw, 1rem);
				line-height: 30px;
			}
			.project-info-description:last-of-type {
				margin-top: 2.25rem;
			}

			.available-options {
				.reward-card {
					padding: 2.25rem 2rem;

					.reward-heading {
						font-size: clamp(0.95rem, 2vw, 1.15rem);
						font-weight: 700;
					}
					.pledge {
						font-size: clamp(0.9rem, 2vw, 0.95rem);
					}
				}
			}
		}
	}
}
