*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

html {
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

input,
button,
textarea,
select {
	font-family: inherit;
}

button,
.burger-btn,
.burger-close,
.bookmark-img {
	cursor: pointer;
}
ul,
li {
	list-style: none;
}
