:root {
	--ff-primary: 'Commissioner', serif;
	--clr-white: hsl(0, 0%, 100%);
	--clr-gray: hsl(0, 0%, 48%);
	--clr-black: hsl(0, 0%, 0%);
	--clr-cyan-400: hsl(176, 50%, 47%);
	--clr-cyan-700: hsl(176, 72%, 28%);
}
