.backing-modal {
	display: none;
	max-width: 90%;
	margin: 0 auto;
	margin-top: 4.5rem;
	background-color: var(--clr-white);
	border-radius: 10px;
	z-index: 2;

	.close-modal-btn {
		padding: 0.55rem;
		top: 1.5rem;
		right: 1rem;
		opacity: 0.4;
		transition: all 0.2s;
	}
	.close-modal-btn:hover {
		opacity: 0.9;
	}
	.modal-title {
		font-size: 1.1rem;
		font-weight: 800;
	}

	.modal-text {
		margin-top: 1.75rem;
		margin-bottom: 1.75rem;
		font-size: 0.9rem;
		color: var(--clr-gray);
		line-height: 25px;
	}

	.pledge-list {
		.pledge-item {
			border: 1px solid var(--clr-gray-500);
			border-radius: 6px;

			.radio-input {
				appearance: none;
				width: 24px;
				height: 24px;
				top: 1rem;
				left: -3rem;
				border: 1px solid var(--clr-gray-300);
				border-radius: 50%;
			}

			.radio-input::before {
				display: none;
				position: absolute;
				content: '';
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 12px;
				height: 12px;
				background-color: var(--clr-cyan-400);
				border-radius: 50%;
			}
			.radio-input:checked::before {
				display: block;
			}

			.pledge-header {
				padding: 0.75rem 1.75rem 0rem 4.5rem;

				.pledge-name {
					font-size: 0.85rem;
					font-weight: 800;
					transition: color 0.2s;
					cursor: pointer;
				}
				.pledge-name:hover {
					color: var(--clr-cyan-400);
				}

				.pledge-amount-info {
					font-size: 0.85rem;
					font-weight: 600;
					color: var(--clr-cyan-400);
				}
			}

			.pledge-stock,
			.pledge-description,
			.pledge-input-label {
				color: var(--clr-gray);
			}
			.pledge-stock {
				position: absolute;
				bottom: -13rem;
				left: 1.5rem;
			}
			.pledge-input-label {
				font-size: 0.95rem;
			}

			.pledge-description {
				padding: 1.25rem 2.5rem 2.75rem 1.5rem;
				margin-bottom: 2rem;
				font-size: 0.85rem;
				line-height: 28px;
			}
			.pledge-stock-bold {
				padding-right: 0.5rem;
				font-size: 1.15rem;
				font-weight: 700;
				color: var(--clr-black);
			}

			.pledge-input-group {
				display: none;
				padding: 1.5rem 1.5rem 1.25rem;
				border-top: 1px solid var(--clr-gray-300);


				.pledge-input-label {
					font-size: 0.9rem;
				}
				.input-container {
					.pledge-input {
						width: 100px;
						padding: 12px;
						padding-left: 2.5rem;
						border: 1px solid var(--clr-gray-300);
						border-radius: 30px;
						outline: none;
						color: var(--clr-black);
						font-size: 0.95rem;
						font-weight: 700;
					}
				}
				.input-container::after {
					position: absolute;
					content: '$';
					top: 50%;
					left: 1.5rem;
					transform: translateY(-50%);
					color: var(--clr-gray-400);
					font-weight: 600;
				}
				.continue-btn {
					width: 115px;
					padding: 12px;
					font-size: 0.9rem;
					font-weight: 600;
				}
			}
		}
		.pledge-item:first-of-type .pledge-name {
			margin-top: 1.2rem;
		}
		.pledge-item:has(input:checked) {
			border: 1px solid var(--clr-cyan-700);
		}
	}
}
